.root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* 親要素からはみ出て画像全体の領域を確保 */
.wrapper {
  position: absolute;
  min-width: calc(100vh / 9 * 16);
  width: 100vw;
  min-height: 100vh;
  height: calc(100vw / 16 * 9);
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
}
[data-theme='dark'] .shadow {
  background: linear-gradient(90deg, rgba(0, 0, 128, 0.05) 50%, rgba(0, 0, 0, 0.9) 100%),
    linear-gradient(
      152.5deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.75) 30%,
      rgba(0, 0, 0, 0.2) 30.1%
    );
}

.box {
  position: absolute;
  right: 10%;
  top: -30%;
  height: 31%;
  width: auto;
  animation: conveyor 60s linear infinite;
}

@keyframes conveyor {
  2% {
    right: 10%;
    top: -30%;
    height: 31%;
  }
  3% {
    right: 10%;
    top: -9.7%;
    height: 30.9%;
  }
  3.6% {
    right: 10%;
    top: -10%;
    height: 30.9%;
  }
  5% {
    right: 10%;
    top: -10%;
    height: 30.9%;
  }
  10% {
    right: 30%;
    top: 8.6%;
    height: 32.5%;
  }
  15% {
    right: 30%;
    top: 8.6%;
    height: 32.5%;
  }
  20% {
    right: 50%;
    top: 27.2%;
    height: 34.1%;
  }
  25% {
    right: 50%;
    top: 27.2%;
    height: 34.1%;
  }
  30% {
    right: 70%;
    top: 45.8%;
    height: 35.7%;
  }
  35% {
    right: 70%;
    top: 45.8%;
    height: 35.7%;
  }
  40% {
    right: 90%;
    top: 64.4%;
    height: 37.3%;
  }
  45% {
    right: 90%;
    top: 64.4%;
    height: 37.3%;
  }
  50% {
    right: 110%;
    top: 83.2%;
    height: 38.9%;
  }
  100% {
    right: 110%;
    top: 83.2%;
    height: 38.9%;
  }
}
