.root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* 親要素からはみ出て画像全体の領域を確保 */
.wrapper {
    position: absolute;
    min-width: calc(100vh / 9 * 16);
    width: 100vw;
    min-height: 100vh;
    height: calc(100vw / 16 * 9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
}

.shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.3) 100%);
}

.box {
    position: absolute;
    left: -10%;
    top: -28%;
    height: 28%;
    width: auto;
    animation: conveyor 60s linear infinite
}

@keyframes conveyor {
    2% {
        left: 10%;
        top: -30%;
        height: 31%;
    }
    3% {
        left: 10%;
        top: -9.8%;
        height: 30.9%;
    }
    3.4% {
        left: 10%;
        top: -10%;
        height: 30.9%;
    }
    5% {
        left: 10%;
        top: -10%;
        height: 30.9%;
    }
    10% {
        left: 30%;
        top: 8.6%;
        height: 32.5%;
    }
    15% {
        left: 30%;
        top: 8.6%;
        height: 32.5%;
    }
    20% {
        left: 50%;
        top: 27.2%;
        height: 34.1%;
    }
    25% {
        left: 50%;
        top: 27.2%;
        height: 34.1%;
    }
    30% {
        left: 70%;
        top: 45.8%;
        height: 35.7%;
    }
    35% {
        left: 70%;
        top: 45.8%;
        height: 35.7%;
    }
    40% {
        left: 90%;
        top: 64.4%;
        height: 37.3%;
    }
    45% {
        left: 90%;
        top: 64.4%;
        height: 37.3%;
    }
    50% {
        left: 110%;
        top: 83.2%;
        height: 38.9%;
    }
    100% {
        left: 110%;
        top: 83.2%;
        height: 38.9%;
    }
}
